@{
    ViewData["Title"] = "Home Page";
}


<div class="card">
  <div class="card-header">
    MVC con ASP.NET
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p> El ejercicio consiste en realizar un CRUD en ASP.NET aplicando MVC y teniendo en cuenta un estudio de caso sobre una Comercializadora.
       El ejercicio cuenta con Crud clientes,Órdenes y Proveedores.
       Se utiliza ORM EntityFramework y base de datos mysql.
       Se realiza base datos mediante MER en MysqlWorkbench</p>
      <footer class="card-footer">Equipo_13-Grupo_127 <br />
                Christian Camilo Álvarez Usuga<br />
                Felipe Arango Muñoz<br />
                John James Gutiérrez Roa<br />
      </footer>
    </blockquote>
  </div>
</div>


